language: node_js
before_script:
  - mysql -e 'create database if not exists test;'
node_js:
  - "0.12"
services:
  - redis-server
script: cd cuisine && npm install && npm test && npm run-script test-travis
after_script: "npm install coveralls && cat ./coverage/lcov.info | coveralls"
